---

- name: "Install epel repo"
  yum: 
    name: "epel-release"
    state: "installed"

- name: "Enable epel repo"
  ini_file:
    path: /etc/yum.repos.d/epel.repo
    section: epel
    option: enabled
    value: 1

- name: "Install scl repo (CentOS)"
  yum: 
    name: "centos-release-scl"
    state: "installed"
  when:
    - ansible_distribution == "CentOS"

- name: "Install scl repo (RedHat)"
  command: "yum-config-manager --enable rhel-server-rhscl-7-rpm" 
  when:
    - ansible_distribution == "RedHat"

- name: "Enable epel repo"
  ini_file:
    path: /etc/yum.repos.d/redhat.repo
    section: rhel-server-rhscl-7-rpms
    option: enabled
    value: 1
  when:
    - ansible_distribution == "RedHat"


- name: "Add rpmfusion repo (ffmpeg)"
  command: 'yum localinstall -y --nogpgcheck https://download1.rpmfusion.org/free/el/rpmfusion-free-release-7.noarch.rpm https://download1.rpmfusion.org/nonfree/el/rpmfusion-nonfree-release-7.noarch.rpm'
  args:
    creates: "/etc/yum.repos.d/rpmfusion-free-updates.repo"

- name: "Install AtoM dependencies"
  yum:
    name: "{{ item }}"
    state: "latest"
  with_items:
    - "ImageMagick"       # ↓ AtoM dependencies
    - "ghostscript"       #
    - "poppler-utils"     #
    - "ffmpeg"            #
    - "git"               # ↓ Build dependencies
    - "nodejs"            #
    - "make"              #
    - "gcc"               #
    - "http-parser"       #
    - "python-pip"        #
    - "python-setuptools" #

- name: "Install Sphinx"
  pip:
    name: "{{ item }}"
    state: "latest"
  with_items:
    - "sphinx"
    - "sphinxcontrib-httpdomain"
    - "sphinx_rtd_theme"

- name: "Install npm global dependencies (also required during the build)"
  npm:
    name: "{{ item }}"
    global: "yes"
  with_items:
    - "grunt-cli"
    - "less@<2.0.0"
