---

- name: "Include OS specific variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_version}}.yml"
    - "{{ ansible_distribution }}.yml"
  tags: "always"

- name: "Install AtoM dependencies"
  block:
    - include: "deps.yml"
      tags:
        - "atom-deps"
      when:
        - ansible_distribution == "Ubuntu"

    - include: "deps-rh.yml"
      tags:
        - "atom-deps"
      when:
        - ansible_os_family == "RedHat"

    - include: "php.yml"
      tags:
        - "atom-php"
      when:
        - ansible_distribution == "Ubuntu"

    - include: "php-rh.yml"
      environment:
        - PATH: "{{ ansible_env.PATH }}:/opt/rh/rh-php{{ php_version }}/root/bin/"
      tags:
        - "atom-php"
      when:
        - ansible_os_family == "RedHat"

    - include: "fop.yml"
      environment:
        - PATH: "{{ ansible_env.PATH }}:/opt/rh/rh-php{{ php_version }}/root/bin/"
      tags:
        - "fop"

  when: atom_install_dependencies|bool == true

- name: "Define default atom_extra_path"
  set_fact:
    atom_extra_path: ""
  tags:
    - "atom-basic"
    - "atom-build"
    - "atom-cli"
    - "atom-devbox"
    - "atom-downloads"
    - "atom-flush"
    - "atom-plugins"
    - "atom-search"
    - "atom-site"
    - "atom-uploads"
    - "atom-worker"
    - "drmc-mock"

- include: "revision-dir.yml"
  when:
    - "atom_revision_directory_latest_symlink_dir is defined"
    - "atom_revision_directory|bool"
  tags:
    - "atom-basic"
    - "atom-build"
    - "atom-cli"
    - "atom-devbox"
    - "atom-downloads"
    - "atom-flush"
    - "atom-plugins"
    - "atom-search"
    - "atom-site"
    - "atom-uploads"
    - "atom-worker"
    - "drmc-mock"

- name: "Install AtoM site"
  block:
    - include: "php-pool-cfg.yml"
      tags:
        - "atom-php-pool-cfg"

    - include: "basic.yml"
      tags:
        - "atom-basic"

    - include: "flush.yml"
      become_user: "{{ atom_user }}"
      environment:
        - "{{ atom_pool_php_envs }}"
        - PATH: "{{ ansible_env.PATH }}:/opt/rh/rh-php{{ php_version }}/root/bin/"
      when: "atom_flush_data is defined and atom_flush_data|bool"
      tags:
        - "atom-flush"

    - include: "plugins.yml"
      become_user: "{{ atom_user }}"
      environment:
        - "{{ atom_pool_php_envs }}"
        - PATH: "{{ ansible_env.PATH }}:/opt/rh/rh-php{{ php_version }}/root/bin/"
      tags:
        - "atom-plugins"

    - include: "cli_tools.yml"
      become_user: "{{ atom_user }}"
      tags:
        - "atom-search"
        - "atom-cli"

     # do not build as user www-data due to errors with npm
    - include: "build.yml"
      when: "atom_build_static_assets is defined and atom_build_static_assets|bool"
      tags:
        - "atom-build"

    - include: "worker.yml"
      when: "atom_worker_setup is defined and atom_worker_setup|bool"
      tags:
        - "atom-worker"

    - include: "symlink-dirs.yml"
      tags:
        - "atom-uploads"
        - "atom-downloads"
        - "atom-build"
        - "atom-worker"

  when: atom_install_site|bool == true
  tags:
    - "atom-site"

- include: "drmc-mock.yml"
  when: "atom_drmc_mock is defined and atom_drmc_mock|bool"
  tags:
    - "drmc-mock"

- include: "devbox.yml"
  when: "atom_devbox|bool"
  tags:
    - "atom-devbox"
