---


- name: "Install PHP packages in RH/Centos"
  yum:
    name: "{{ item }}"
    state: "latest"
  with_items:
    - "rh-php{{ php_version }}-php-cli"        
    - "rh-php{{ php_version }}-php-ldap"
    - "rh-php{{ php_version }}-php-fpm"
    - "rh-php{{ php_version }}-php-mysqlnd"
    - "rh-php{{ php_version }}-php-xml"
    - "rh-php{{ php_version }}-php-opcache"
    - "rh-php{{ php_version }}-php-devel"
    - "rh-php{{ php_version }}-php-mbstring"
    - "rh-php{{ php_version }}-php-pecl-apcu"
    - "zlib-devel" # needed for memcached
    - "unzip"
    - "java-1.8.0-openjdk-headless" # needed for fop

- name: "Create /usr/bin/php link"
  file:
    src: "/opt/rh/rh-php{{ php_version }}/root/usr/bin/php"
    dest: "/usr/bin/php"
    state: "link"

- name: "Download memcached module source"
  unarchive: 
    src: "https://github.com/websupport-sk/pecl-memcache/archive/NON_BLOCKING_IO_php7.zip"
    dest: "/opt/rh/rh-php{{ php_version }}/"
    creates: "/opt/rh/rh-php{{ php_version }}/pecl-memcache-NON_BLOCKING_IO_php7"
    copy: "no"
    owner: "root"
    group: "root"  

- name: "Build memcached extension"
  shell: "phpize && \
         ./configure --enable-memcache && \
         make clean && \
         make && \
         cp modules/memcache.so /opt/rh/rh-php{{ php_version }}/root/usr/lib64/php/modules/memcache.so"
  args:
    chdir: "/opt/rh/rh-php{{ php_version }}/pecl-memcache-NON_BLOCKING_IO_php7" 
    creates: "/opt/rh/rh-php{{ php_version }}/root/usr/lib64/php/modules/memcache.so"

- name: "Configure memcache php extension"
  shell: printf "extension=memcache.so\n" >> /etc/opt/rh/rh-php{{ php_version }}/php.d/20-memcache.ini
  args:
    creates: /etc/opt/rh/rh-php{{ php_version }}/php.d/20-memcache.ini

- name: "Set php.ini memory to 512"
  lineinfile: 
    path: /etc/opt/rh/rh-php{{ php_version }}/php.ini
    regexp: '^memory_limit'
    line: 'memory_limit = 512M'

- name: "Enable rh-php{{ php_version }}-php-fpm service"
  systemd:
     name: "rh-php{{ php_version }}-php-fpm"
     state: "restarted"
     enabled: "yes"
