---

# Note that this file is included with the following in main.yml
#  so no need to put in each task:
#    become_user: "{{ atom_user }}"
#    environment: "{{ atom_pool_php_envs }}"

# plugin.enabled = true → create plugin.activate_file
# plugin.enabled = false → remove plugin.activate_file
- name: Manage AtoM plugin activation files
  file:
    path: "{{ atom_path }}/{{ atom_extra_path }}/{{ item.value.activate_file }}"
    state: "{{ 'touch' if item.value.enabled | bool else 'absent' }}"
  loop: "{{ atom_plugins | dict2items }}"
  when: item.value.activate_file is defined

- name: "Enable AtoM plugins"
  shell: "php symfony tools:atom-plugins add {{ item.key }}"
  args:
    chdir: "{{ atom_path }}/{{ atom_extra_path }}"
  loop: "{{ atom_plugins | dict2items }}"
  when: item.value.enabled | default(false) | bool

- name: "Enable AtoM GDPR privacy page"
  command: "php symfony tools:run lib/task/tools/addGdprSettings.php"
  args:
    chdir: "{{ atom_path }}/{{ atom_extra_path }}"
  when: "atom_gdpr_enabled is defined and atom_gdpr_enabled | bool"

# copy ES plugins to /etc/elasticsearch (assumes ES running on same server)
# (copy manually if ES is on a separate backend server)
- name: "Copy elasticsearch plugins"
  command: "cp -rf {{ atom_path }}/{{ atom_extra_path }}/plugins/arElasticSearchPlugin/scripts /etc/elasticsearch/"
  become: "yes"
  become_user: "root"
  when: "atom_drmc_es_scripts is defined and atom_drmc_es_scripts | bool"
  notify: "Restart Elasticsearch"
