[Unit]
Description=AtoM worker
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ atom_user }}
Group={{ atom_group }}
WorkingDirectory={{ atom_path }}
{% if ansible_os_family == "RedHat" %}
{% if atom_environment_type == "binder" %}
ExecStart=/opt/rh/rh-php70/root/bin/php -d memory_limit=-1 -d error_reporting="E_ALL" symfony tools:gearman-worker
{% else %}
ExecStart=/opt/rh/rh-php70/root/bin/php -d memory_limit=-1 -d error_reporting="E_ALL" symfony jobs:worker
{% endif %}
{% else %}
{% if atom_environment_type == "binder" %}
ExecStart=/usr/bin/php7.0 -d memory_limit=-1 -d error_reporting="E_ALL" symfony tools:gearman-worker
{% else %}
ExecStart=/usr/bin/php7.0 -d memory_limit=-1 -d error_reporting="E_ALL" symfony jobs:worker
{% endif %}
{% endif %}
KillSignal=SIGTERM
Restart=no

#Environment=ATOM_FOO_1=BAR
#Environment=ATOM_FOO_2=BAR
# AtoM PHP pool vars 
{% for key, value in atom_pool_php_envs.iteritems() %}
{% if value != "" -%}
    Environment={{ key }}="{{ value }}"
{% endif %}
{% endfor %}

{% if ansible_os_family == "RedHat" %}
env[PATH] = /opt/rh/rh-php70/root/bin/:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin
{% endif %}

