---

- name: "Restart php-fpm"
  debug:
    msg: "Restart php-fpm conditionally"
  changed_when: True
  notify:
    - "Restart php5-fpm"
    - "Restart php7.0-fpm"

- name: "Restart php5-fpm"
  service:
    name: "php5-fpm"
    state: "restarted"
  when: "ansible_distribution_version | version_compare('14.04', '==')"

- name: "Restart php7.0-fpm"
  service:
    name: "php7.0-fpm"
    state: "restarted"
  when: "ansible_distribution_version | version_compare('16.04', '==')"

- name: "Reload php-fpm"
  debug:
    msg: "Reload php-fpm conditionally"
  changed_when: True
  notify:
    - "Reload php5-fpm"
    - "Reload php7.0-fpm"

- name: "Reload php5-fpm"
  service:
    name: "php5-fpm"
    state: "reloaded"
  when: "ansible_distribution_version | version_compare('14.04', '==')"

- name: "Reload php7.0-fpm"
  service:
    name: "php7.0-fpm"
    state: "reloaded"
  when: "ansible_distribution_version | version_compare('16.04', '==')"

- name: "Clear sf_cache"
  shell: "php symfony cc"
  args:
    chdir: "{{ atom_path }}"
  become_user: "{{ atom_user }}"
  environment:
    - "{{ atom_pool_php_envs }}"
    - PATH: "{{ ansible_env.PATH }}:/opt/rh/rh-php70/root/bin/"

- name: "Restart smbd"
  service:
    name: "smbd"
    state: "restarted"

- name: "Restart nmbd"
  service:
    name: "nmbd"
    state: "restarted"
