[core]
        autocrlf = input
        editor = vim
        excludesfile = ~/.gitignore_global
        filemode = false
[color]
        ui = true
[alias]
        ci = commit
        co = checkout
        st = status -s
        cdiff = diff --cached
        top = !git shortlog -s | sort -rn | head -n 100 # Show top ten committers! :-)
        who = rev-parse --abbrev-ref --symbolic-full-name @{u}
[log]
        date = local
[push]
        default = simple
